
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <ul class = "list-unstyled sidebar">
        <h3><%= link_to "Betmatcher Logo", pages_home_path%></h3>
        <h3><%=link_to "My Bets", matches_path%></h3>

          <li><div id = "soccer"> <strong><%=@sports[0].name%></strong> </div></li>
              <ul class = "hidden list-unstyled text-left"  id ="soccer_c">
                <%@country_soccer.each do |country|%>
                  <li>
                    <%=link_to country_games_path(country) do%>
                    <%=country.name%>
                    <%end%>
                  </li>
                <%end%>
              </ul>

          <li><div id = "baseball"> <strong><%=@sports[1].name%></strong> </div></li>

              <ul class = "hidden list-unstyled text-left"  id ="baseball_c">
                <%@country_baseball.each do |country|%>
                  <li>
                    <%=country.name%>
                  </li>
                <%end%>
              </ul>

          <li><div id = "basketball"> <strong><%=@sports[2].name%> </strong></div></li>

            <ul class = "hidden list-unstyled text-left"  id ="basketball_c">
                <%@country_basketball.each do |country|%>
                  <li>
                    <%=country.name%>
                  </li>
                <%end%>
              </ul>

          <li><div id = "football"> <strong><%=@sports[3].name%> </strong></div></li>

              <ul class = "hidden list-unstyled text-left"  id ="football_c">
                <%@country_football.each do |country|%>
                <li>
                  <%=country.name%>
                </li>
                <%end%>
              </ul>

          <li><div id = "tennis"> <strong><%=@sports[4].name%> </strong></div></li>

              <ul class = "hidden list-unstyled text-left"  id ="tennis_c">
                <%@country_tennis.each do |country|%>
                <li>
                  <%=country.name%>
                </li>
                <%end%>
              </ul>

          <li><div id = "fight"> <strong><%=@sports[5].name%> </strong></div></li>

               <ul class = "hidden list-unstyled text-left"  id ="fight_c">
                <%@country_fight.each do |country|%>
                <li>
                  <%=country.name%>
                </li>
                <%end%>
              </ul>
      </ul>
    </div>
  </div>
</div>

