<div class ="container_games">
<div class = "countainer ">
  <div class ="row">
    <div class = "col-xs-10 col-sm-offset-4 col-md-8 col-md-offset-3">

  <%@games.each do |game|%>
    <ul class = "list-unstyled text-center">
    <div class = "game-card">
      <li class = "football"><img src="https://image.flaticon.com/icons/svg/140/140389.svg"></li>
      <small><li class ="date"><%=game.date_show%></li></small>
      <li class ="league"><%=game.depor%></li>
      <li><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
      <h3 class ="teams"><%=game.local%><%=" VS "%> <%=game.visit%></h3>
    </div>
    </ul>
  <%end%>

  </div>
 </div>
</div>
</div>
