
<div class = "countainer ">
  <div class ="row">
    <div class = "col-xs-10 col-sm-offset-4 col-md-8 col-md-offset-3">

    <%@matches.each do |match|%>
    <%if match.user == current_user || match.request.user == current_user%>
    <div class = "text-center game-card">
      <ul class = "list-unstyled list-inline">
      <li>
        <%=match.user.email%>
        <br>
        <%=match.request.team_not_selected%>
      </li>
      <li>VS</li>

      <li>
        <%=match.request.user.email%>
        <br>
        <%=match.request.team_selected%>
      </li>
      </ul>
      <p><%=match.request.game.date_show%></p>
      <o><%=match.request.amount%></o>
      </div>
    <%end%>
    <%end%>
    </div>
  </div>
</div>
